<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Desafio Dev" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/> <!--Replace with your tailwind.css once created-->
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"> <!--Totally optional :) -->
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %> 
  </head>

  <body class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">
    <%= render "layouts/shared/header" %>
    <main>
      <div class="flex flex-col md:flex-row">
        <%= render "layouts/shared/sidebar" %>
        <section class="flex-1 mr-1">
          <div id="main" class="main-content bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5 min-h-screen">
            <%= yield :page_title %>
            <%= render "layouts/shared/flash_messages" %>
            <%= yield %>
          </div>
        </section>
      </div>
    </main>

    <script>
      /*Toggle dropdown list*/
      function toggleDD(myDropMenu) {
        document.getElementById(myDropMenu).classList.toggle("invisible");
      }
      /*Filter dropdown options*/
      function filterDD(myDropMenu, myDropMenuSearch) {
        var input, filter, ul, li, a, i;
        input = document.getElementById(myDropMenuSearch);
        filter = input.value.toUpperCase();
        div = document.getElementById(myDropMenu);
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
          if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
          } else {
            a[i].style.display = "none";
          }
        }
      }
      // Close the dropdown menu if the user clicks outside of it
      window.onclick = function(event) {
        if (!event.target.matches('.drop-button') && !event.target.matches('.drop-search')) {
          var dropdowns = document.getElementsByClassName("dropdownlist");
          for (var i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (!openDropdown.classList.contains('invisible')) {
              openDropdown.classList.add('invisible');
            }
          }
        }
      }

      function closeFlash() {
        document.getElementById("flash-message").style.display = "none";
      }

      setTimeout(function() {
        var flash = document.getElementById("flash-message");
        if (flash) {
          flash.style.opacity = "0";
          setTimeout(() => flash.style.display = "none", 4500);
        }
      }, 5000);
    </script>

  </body>
</html>
